.login-box {
  margin-top: 40%;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
};

.login-form {
  width: '100%';
  margin-top: 10%;
};


.btn-login {
  margin-top: 10%;
  margin: 30%, 0, 20%,
};