.nav-bar {
  flex-grow: 1;
}

.tool-bar {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 12rem;
  .logo-name{
    color: white;
  }
}

.nav-bar-seperator-1 {
  flex-basis: 10%;
}

.nav-bar-seperator-2 {
  flex-basis: 10%;
}

.search-bar {
  flex-basis: 80%;
}

.navbar-menu-btn {
  color: white;
}