.nav-bar {
  flex-grow: 1;
}

.tool-bar {
  display: flex;
  flex-direction: row;
}

.logo {
  .logo-name{
    color: white;
  }
}

.search-bar {
  flex-basis: 100%;
}

.navbar-menu-btn {
  color: white;
}