.new-feed {
  padding-top: 1.5rem;
}

.newfeed-article {
  &:last-child {
    margin-bottom: 0;
  }
  margin-bottom: 2rem;
  padding: 1rem;
}

.article-statistic {
  display: flex;
  justify-content: space-around;
  .article-statistic-vote {
    flex-basis: auto;
  }
}

.article-owner {
  .article-owner-avatar {
    width: 3rem;
    height: 3rem;
    border: 1rem;
    border-radius: 1.5rem;
   
    img {
      width: 3rem;
      height: 3rem;
      border: 1rem;
      border-radius: 1.5rem;
      border: 0.1rem;
      border-style: solid;
      border-color: #007bff;
    }
  }
  .article-owner-display {
    display: flex;
    flex-direction: column;
    height: 3rem;
  }
  .article-owner-info {
    display: flex;
    height: 2rem;
    align-items: center;
  }
  .article-owner-name {
    height: 2rem;
    width: 85%;
  }
  .article-owner-created-at {
    height: 1rem;
    font-size: 80%;
  }
}

.article-footer {
  button {
    font-size: 1rem;
  }
}

.user-avatar {
  width: 3rem;
  height: 3rem;
  border: 1rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
  img {
    width: 3rem;
    height: 3rem;
    border: 1rem;
    border-radius: 1.5rem;
    border: 0.1rem;
    border-style: solid;
    border-color: #007bff;
  }
}